<section class="about-section" id="about_us">
  <div class="about-text-block">
    <h2 class="about-title">About us</h2>
    <p class="about-subtitle">
      Our craftsmanship: creating unique handmade furniture
    </p>
    <p class="about-description">
      Discover the inspiration behind our modern and minimalist designs, and see
      how we bring them to life through our skilled craftsmanship.
    </p>
    <ul class="about-list">
      <li class="about-item">
        <p class="about-item-achiv">5+</p>
        <p class="about-item-sketch">
          Years of experience creating handcrafted furniture
        </p>
      </li>
      <li class="about-item">
        <p class="about-item-achiv">100%</p>
        <p class="about-item-sketch">
          Sustainably sourced materials used in all of our furniture
        </p>
      </li>
      <li class="about-item">
        <p class="about-item-achiv">500+</p>
        <p class="about-item-sketch">
          Unique furniture designs crafted by our skilled artisans
        </p>
      </li>
    </ul>
  </div>
  <picture>
    <source
      srcset="./images/about-dt.jpg 1x, ./images/about-dt-2x.jpg 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./images/about-tab.jpg 1x, ./images/about-tab-2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/about-mob.jpg 1x, ./images/about-mob-2x.jpg 2x"
      media="(min-width: 375px)"
    />
    <img
      class="about-img"
      src="./images/about-mob.jpg"
      alt="couch"
      loading="lazy"
    />
  </picture>
</section>
