<section class="reviews-section">
  <div class="review-container">
    <h2 id="reviews" class="headline">CLIENTS REVIEWS</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="user-block">
          <div>
            <picture>
              <source
                srcset="
                  /images/clients1-dt.jpg    1x,
                  /images/clients1-dt-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /images/clients1-tab.jpg    1x,
                  /images/clients1-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                class="user-avatar-min"
                srcset="
                  /images/clients1-mob.jpg    1x,
                  /images/clients1-mob-2x.jpg 2x
                "
                media="(min-width:375px)"
              />
              <img
                class="user-avatar-min"
                src="/images/clients1-dt.jpg"
                alt="photo-alexandra-dream"
              />
            </picture>
          </div>
          <div class="user-data">
            <h3 class="user-name">ALEXANDRA DREAM</h3>
            <p class="when-reviews">1 week ago</p>
          </div>
        </div>

        <p class="reviews">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="reviews-item">
        <div class="user-block">
          <picture>
            <source
              srcset="/images/clients2-dt.jpg 1x, /images/clients2-dt-2x.jpg 2x"
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /images/clients2-tab.jpg    1x,
                /images/clients2-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/images/clients2-dt.jpg"
              alt="photo-james-williams"
              width="56px"
            />
          </picture>
          <div class="user-data">
            <h3 class="user-name">JAMES WILLIAMS</h3>
            <p class="when-reviews">A week ago</p>
          </div>
        </div>
        <p class="reviews">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="reviews-item">
        <div class="user-block">
          <picture>
            <source
              srcset="/images/clients3-dt.jpg 1x, /images/clients3-dt-2x.jpg 2x"
              media="(min-width:1440px)"
            />
            <img
              src="/images/clients3-dt.jpg"
              alt="photo-emily-watson"
              width="56px"
            />
          </picture>
          <div class="user-data">
            <h3 class="user-name">EMILY WATSON</h3>
            <p class="when-reviews">3 week ago</p>
          </div>
        </div>
        <p class="reviews">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
