<div>
    <h2>CLIENTS REVIEWS</h2>
        <ul>
            <li>
                <div>
                    <picture>
                        <source 
                    srcset="./images/clients1-dt.jpg 1x, 
                        ./images/clients1-dt-2x.jpg 2x" 
                        media="(min-width:1440px)"
                        />
                        <source 
                    srcset="./images/clients1-tab.jpg 1x, 
                        ./images/clients1-tab-2x.jpg 2x" 
                        media="(min-width:768px)"
                        />
                        <source 
                    srcset="./images/clients1-mob.jpg 1x, 
                        ./images/clients1-mob-2x.jpg 2x" 
                        media="(min-width:375px)"
                        />
                    <img src="./images/clients1-dt.jpg" 
                    alt="photo-alexandra-dream"
                    width="56px"/>
                </picture>
                    <h3>ALEXANDRA DREAM</h3>
                    <p>1 week ago</p>
                </div>
                <p>I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                    srcset="./images/clients2-dt.jpg 1x, 
                        ./images/clients2-dt-2x.jpg 2x" 
                        media="(min-width:1440px)"
                        />
                        <source 
                    srcset="./images/clients2-tab.jpg 1x, 
                        ./images/clients2-tab-2x.jpg 2x" 
                        media="(min-width:768px)"
                        />
                        <source 
                    srcset="./images/clients2-mob.jpg 1x, 
                        ./mages/clients2-mob-2x.jpg 2x" 
                        media="(min-width:375px)"
                        />
                    <img src="./images/clients2-dt.jpg" 
                    alt="photo-james-williams"
                    width="56px"/>
                </picture>
                <h3>JAMES WILLIAMS</h3>
                <p>A week ago</p>
            </div>
            <p>The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
        </li>
            <li>
                <div>
                    <picture>
                        <source 
                    srcset="./images/clients3-dt.jpg 1x, 
                        ./images/clients3-dt-2x.jpg 2x"
                        media="(min-width:1440px)"
                        />
                        <source 
                    srcset="./images/clients3-tab.jpg 1x, 
                        ./images/clients3-tab-2x.jpg 2x" 
                        media="(min-width:768px)"
                        />
                        <source 
                    srcset="./images/clients3-mob.jpg 1x, 
                        ./images/clients3-mob-2x.jpg 2x" 
                        media="(min-width:375px)"
                        />
                    <img src="./images/clients3-dt.jpg" 
                    alt="photo-emily-watson"
                    width="56px"/>
                </picture>
                <h3>EMILY WATSON</h3>
                <p>3 week ago</p>
            </div>
            <p>The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
        </li>
        </ul>
</div>