<footer class="footer container">
  <div class="footer-logo-social">
    <div class="footer-div">
      <div class="footer-logo">
        <a class="footer-logo-link link a-hover-focus" href="/src/index.html">
          <svg class="footer-logo-icon a-hover-focus">
            <use
              href="./images/icons/symbol-defs.svg#icon-logo"
              class="a-hover-focus"
            ></use>
          </svg>
        </a>
      </div>

      <nav class="footer-navigation">
        <ul class="footer-navigation-menu list">
          <li class="footer-navigation-item">
            <a
              class="footer-navigation-link link a-hover-focus"
              href="#about_us"
              >About us</a
            >
          </li>
          <li class="footer-navigation-item">
            <a
              class="footer-navigation-link link a-hover-focus"
              href="#our_products"
              >Our products</a
            >
          </li>
          <li class="footer-navigation-item">
            <a class="footer-navigation-link link a-hover-focus" href="#prices"
              >Prices</a
            >
          </li>
          <li class="footer-navigation-item">
            <a
              class="footer-navigation-link link a-hover-focus"
              href="#bestsellers"
              >Bestsellers</a
            >
          </li>
          <li class="footer-navigation-item">
            <a class="footer-navigation-link link a-hover-focus" href="#reviews"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>

      <address class="address">
        <div class="place-time">
          <ul class="place-time-menu list">
            <li class="place-time-item">
              <a
                class="place-time-link link a-hover-focus"
                href="https://goo.gl/maps/DH6tJFy9MAFJsoNK6"
                target="_blank"
                rel="noopener noreferrer"
                >Obolonsky Prospect, 14, Kyiv</a
              >
            </li>
            <li class="place-time-item">
              <a
                href="https://uk.piliapp.com/time"
                class="place-time-text link a-hover-focus"
                target="_blank"
                rel="noopener noreferrer"
                >Daily <time>10:00-21:00</time></a
              >
            </li>
          </ul>
        </div>

        <div class="tel">
          <ul class="tel-menu list">
            <li class="tel-menu-item">
              <a
                class="tel-menu-link link a-hover-focus"
                href="tel:+380669384758"
                target="_blank"
                rel="noopener noreferrer"
                >+380669384758</a
              >
            </li>
            <li class="tel-menu-item">
              <a
                class="tel-menu-link link a-hover-focus"
                href="tel:+380679384758"
                target="_blank"
                rel="noopener noreferrer"
                >+380679384758</a
              >
            </li>
          </ul>
        </div>

        <div class="mail">
          <a
            class="mail-menu-link link a-hover-focus"
            href="mailto:minimal.furniture@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            >minimal.furniture@gmail.com</a
          >
        </div>
      </address>
    </div>

    <div class="footer-social">
      <ul class="footer-social-menu list">
        <li class="footer-social-item">
          <a
            class="footer-social-link link a-hover-focus"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-ph_facebook-logo"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-ph_instagram-logo"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-ph_youtube-logo"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p class="privacy-text">
    By using this website, you agree to the
    <a
      href="#"
      class="privacy-link link a-hover-focus"
      target="_blank"
      rel="noopener noreferrer"
      >Terms of Service</a
    >
    and
    <a
      href="#"
      class="privacy-link link a-hover-focus"
      target="_blank"
      rel="noopener noreferrer"
      >Privacy Policy</a
    >
  </p>
</footer>
