<header class="header">
  <div class="header-container">
    <a href="#" class="header-logo">
      <svg class="logo-icon">
        <use href="./images/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about_us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our_products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#prices">Prices</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn" mob-menu-open>
      <svg class="burger-icon">
        <use href="./images/icons/symbol-defs.svg#icon-align-justify"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu is-hidden" mob-menu>
    <button type="button" class="menu-close-btn" mob-menu-close>
      <svg class="menu-close-btn-icon">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#about_us" mob-menu-close>About us</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#our_products" mob-menu-close
            >Our products</a
          >
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#prices" mob-menu-close>Prices</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#bestsellers" mob-menu-close
            >Bestsellers</a
          >
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#reviews" mob-menu-close>Reviews</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#" mob-menu-close>Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
