<header class="header">
  <div class="header-container">
    <a href="#" class="header-logo">
      <svg class="logo-icon" width="100" height="16">
        <use href="./images/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about_us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our_products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#prices">Prices</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-button">
      <svg class="burger-icon" width="24" height="24">
        <use href="./images/icons/symbol-defs.svg#icon-align-justify"></use>
      </svg>
    </button>
  </div>
  <!-- <div class="mobile-menu">
    <button type="button" class="close-menu"></button>
    <nav>
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#about_us">About us</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#our_products">Our products</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#prices">Prices</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </div> -->
</header>
