<section class="section-price container">
  <h2 class="price-headline visually-hidden">
    Chairs Tables Dressers Sofas Price
  </h2>
  <div class="prices">
    <ul class="price-list list">
      <li class="price-li">
        <a href="" class="price-item">Chairs</a>
        <p class="price chairs-price">from 200₴</p>
      </li>
      <li class="price-li">
        <a href="" class="price-item">Tables</a>
        <p class="price tables-price">from 250₴</p>
      </li>
      <li class="price-li">
        <a href="" class="price-item">Dressers</a>
        <p class="price ressers-price">from 300₴</p>
      </li>
      <li class="price-li">
        <a href="" class="price-item">Sofas</a>
        <p class="price sofas-price">from 500₴</p>
      </li>
    </ul>
  </div>
</section>
