<section class="our-products">
    <div class="container">
        <h1 class="section-title" id="our_products">OUR PRODUCTS</h1>
        <ul class="product-list">
            <li>
                <picture>
                <source media="(min-width: 1440px)"
                        srcset="./images/products1-dt.jpg, ./imges/products1-dt-2x.jpg 2x">
                <source media="(min-width: 768px)"
                        srcset="./images/products1-tab.jpg, ./images/products1-tab-2x.jpg 2x">
                <source media="(min-width: 375px)"
                        srcset="./images/products1-mob.jpg ./images/products1-mob-2x.jpg 2x">
                        <img class="products-images" src="./images/products1-mob.jpg" alt="storage-image" loading="lazy">
                </picture>
                        <p class="product-description">Minimalist storage solutions</p></li>
            <li>
                <picture class="not-mob">
                <source media="(min-width: 1440px)"
                        srcset="./images/products2-dt.jpg">
                <source media="(min-width: 768px)"
                        srcset="./images/products2-tab.jpg, ./images/products2-tab-2x.jpg 2x">
                <img class="products-images" src="./images/products2-tab.jpg" alt="sofa-image" loading="lazy">
            </picture>
                       <p class="product-description not-mob">Handcrafted minimalist seating</p>
            </li>
            <li class="not-tab">
                <picture>
                        <source media="(min-width: 1440px)"
                                srcset="./images/products3-dt.jpg, ./images/products3-dt-2x.jpg 2x">
                                <img class="products-images" src="./images/products3-dt.jpg" alt="table-image" loading="lazy">
                </picture>
                <p class="product-description not-mob">Sleek and simple tables</p>
            </li>
            <li class="not-tab">
                <picture class="not-tab">
                <source media="(min-width: 1440px)"
                        srcset="./images/products4-dt.jpg, ./images/products4-dt-2x.jpg 2x">
                        <img class="products-images" src="./images/products4-dt.jpg" alt="seat-image" loading="lazy">
              </picture>
              <p class="product-description not-mob">Minimalist seating for every space</p>
            </li>
        </ul>
    </div>
</section>