<body>
    <main>
        <section class="subscribe">
            <div class="subscribe-area">
                <h2 class="subcribe-tittle title">Newsletter</h2>
                <p class="subscribe-text">Every week we will send you new designs and information about sales.</p>
                <form action="" class="input-area">
                    <div class="input-element">
                        <label for="">Name</label>
                        <input type="text">
                    </div>
                    <div class="input-element">
                        <label for="">Email</label>
                        <input type="email">
                    </div>
                    <div class="input-element">
                        <label for="checkbox">
                            <input type="checkbox">
                            Agree to subscribe to the newsletter
                        </label>
                    </div>
                </form>
                <button type="submit">Send</button>
            </div>
            <picture>
                <source srcset="../images/subscribe-dt.jpg 1x, ../images/subscribe-dt-2x.jpg 2x" media="(min-width: 1440px)" />
                <source srcset="./images/subscribe-tab.jpg 1x, ./images/subscribe-tab-2x.jpg 2x" media="(min-width: 768px)" />
                <source srcset="./images/subscribe-mob.jpg 1x, ./images/subscribe-mob.jpg 2x" media="(min-width: 375px)" />
                <img class="about-img" src="./images/subscribe-mob.jpg" alt="sofa" />
            </picture>
        </section>
    </main>
</body>