.header {
  background-color: var(--light-blue);
  position: relative;
}

.header-container {
  width: 100vw;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header-logo {
  line-height: 0;
  padding: 36px 0;
}

.logo-icon {
  width: 100px;
  height: 16px;
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:is(:hover, :focus) > .logo-icon {
  fill: var(--dark-blue);
}

.header-nav {
  display: none;
}

.menu-open-btn {
  padding: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  line-height: 0;
}

.burger-icon {
  stroke: var(--primary-color);
  width: 32px;
  height: 32px;
  padding: auto 5px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:is(:hover, :focus) > .burger-icon {
  stroke: var(--iris);
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 375px;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.menu-close-btn {
  background-color: transparent;
  height: 88px;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
}

.close-block {
  padding: 28px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
  line-height: 0;
  position: absolute;
  right: 13px;
  top: 0;
}

.menu-close-btn:is(:hover, :focus) .menu-close-btn-icon {
  stroke: var(--iris);
}

.menu-nav-link:is(:hover, :focus) {
  color: var(--iris);
}

.menu-nav {
  margin: 0 auto;
  background-color: var(--white);
  padding-top: calc((100vh - 88px - (24px * 6 + 17px * 5)) / 2);
  padding-bottom: calc((100vh - 88px - (24px * 6 + 17px * 5)) / 2);
  width: 100%;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.menu-nav-link {
  line-height: 1.5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu:not(.is-open) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.menu-close-btn-icon {
  width: 32px;
  height: 32px;
  stroke: var(--primary-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header {
  }

  .header-container {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
  }

  .header-menu {
  }

  .header-logo {
    line-height: 0;
    padding: 40px 0 39px 0;
  }

  .menu-open-btn {
    padding: 28px 0 27px;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu {
    max-width: 768px;
  }

  .menu-close-btn {
    height: 95px;
  }

  .close-block {
    padding: 28px 0 27px;
    right: 30px;
  }

  .menu-close-btn-icon {
    width: 40px;
    height: 40px;
  }

  .menu-nav {
    padding-top: calc((100vh - 95px - (27px * 6 + 30px * 5)) / 2);
    padding-bottom: calc((100vh - 95px - (27px * 6 + 30px * 5)) / 2);
  }

  .menu-nav-list {
    gap: 30px;
  }

  .menu-nav-link {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .header {
  }

  .header-container {
    max-width: 1440px;
    padding: 0 60px;
  }

  .header-menu {
  }

  .header-nav {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 8px;
    gap: 30px;
  }

  .header-nav-link {
    display: block;
    padding: 34px 0;
    font-size: 18px;
    line-height: 1.5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:is(:hover, :focus) {
    color: var(--iris);
  }
}
