.container{
    padding-top: 140px;
    background: url(../images/hero2-mob.jpg), lightgray -8.172px -122.895px / 181.99% 146.01% no-repeat;
    width: 100vw;
    max-width: 375px;
    height: 717px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .container{
      background: url(../images/hero2-mob-2x.jpg), lightgray -8.172px -122.895px / 181.99% 146.01% no-repeat;
    }
}

.hero-title{
    color: var(--blue-font, #0A224A);
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 14px;
    width: 285px;
}

.hero-text{
    color: var(--blue-font, #0A224A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 28px;
}

.hero-link{
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    width: 224px;
    padding: 12px 65px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: var(--blue-font, #0A224A);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus{
    background: #061835;
}

@media screen and (min-width: 768px){
    .container{
       padding-top: 64px;
       padding-left: 32px;
       padding-right: 29px;
       width: 100%;
       max-width: 768px;
       background: none;
    }

    #example1{
        height: 531px;
        flex-shrink: 0;
        background: url(../images/hero2-tab.jpg) right top no-repeat, url(../images/hero1-tab.jpg) left bottom no-repeat;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: auto;
        margin-bottom: 32px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            #example1{
                background: url(../images/hero2-tab-2x.jpg) right top no-repeat,
                 url(../images/hero1-tab-2x.jpg) left bottom no-repeat;
        }
    }

    .hero-title{
        font-size: 50px;
        width: 648px;
        margin-bottom: 0;
    }

    .hero-text{
        font-size: 18px;
        width: 312px;
        margin-bottom: 30px;
    }

    .hero-link{
        font-size: 18px;
        line-height: 1.33;
        padding: 17px 65px;
        flex-shrink: 0;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1440px){
    .container{
        width: 100%;
        max-width: 1440px;
        padding-right: 60px;
        padding-left: 57;
    }

    #example1{
        height: 530px;
        flex-shrink: 0;
        background: url(../images/hero2-dt.jpg) center no-repeat, url(../images/hero1-dt.jpg) left bottom no-repeat, url(../images/hero3-dt.jpg) right top no-repeat;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: auto;
        margin-bottom: 100px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            #example1{
                background:url(../images/hero2-dt-2x.jpg) center no-repeat,
                    url(../images/hero1-dt-2x.jpg) left bottom no-repeat,
                    url(../images/hero3-dt-2x.jpg) right top no-repeat;
            }
        }

    .hero-link{
        margin-bottom: 0;
    }

    .hero-image{
       float: right;
       transform: translateY(-170%);
    }
}