.hero-container{
    background-image: url(../images/hero2-mob.jpg);
    width: 100vw;
    max-width: 375px;
    max-height: 717px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px;
    padding: 140px 16px 313px;
    margin: 0 auto;
}

.hero-container{
    background-image: url(../images/hero2-mob.jpg);
    width: 100vw;
    max-width: 375px;
    max-height: 717px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px;
    padding: 140px 16px 313px;
    margin: 0 auto;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero-container{
      background-image: url(../images/hero2-mob-2x.jpg);
    }
}

.example1{
    margin-bottom: 14px;
}

.hero-title{
    color: var(--blue-font);
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    width: 285px;
}

.hero-text{
    color: var(--blue-font);
    line-height: 1.5;
    margin-bottom: 28px;
}

.hero-link{
    color: var(--white);
    line-height: 1.5;
    display: flex;
    width: 224px;
    padding: 12px 65px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-font, #0A224A);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus{
    background-color: #061835;
}

@media screen and (min-width: 768px){
    .hero-container{
        padding: 64px 32px 100px;
        width: 100%;
        max-height: 858px;
        max-width: 768px;
        background-image: none;
    }

    .example1{
        height: 530px;
        background: url(../images/hero2-tab.jpg) right top no-repeat, url(../images/hero1-tab.jpg) left bottom no-repeat;
        background-repeat: no-repeat;
        background-position: auto;
        margin-bottom: 32px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            #example1{
                background: url(../images/hero2-tab-2x.jpg) right top no-repeat,
                 url(../images/hero1-tab-2x.jpg) left bottom no-repeat;
        }
    }

    .hero-title{
        font-size: 50px;
        width: 648px;
        margin-bottom: 0;
        text-align: left;
    }

    .hero-text{
        font-size: 18px;
        width: 312px;
        margin-bottom: 30px;
    }

    .hero-link{
        font-size: 18px;
        line-height: 1.33;
        padding: 17px 65px;
    }
}

@media screen and (min-width: 1440px){
    .hero-container{
        max-width: 1440px;
        max-height: 694px;
        padding: 64px 60px 100px;
    }    
    .example1{
        height: 530px;
        flex-shrink: 0;
        background: url(../images/hero2-dt.jpg) center no-repeat, url(../images/hero1-dt.jpg) left bottom no-repeat, url(../images/hero3-dt.jpg) right top no-repeat;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: auto;
        margin-bottom: 0;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            #example1{
                background:url(../images/hero2-dt-2x.jpg) center no-repeat,
                    url(../images/hero1-dt-2x.jpg) left bottom no-repeat,
                    url(../images/hero3-dt-2x.jpg) right top no-repeat;
            }
        }

    .hero-link{
        margin-bottom: 0;
    }

    .hero-image{
       float: right;
       transform: translateY(-100%);
    }
}