.section-title{
    display: flex;
   justify-content: center;
   color:var(--primary-color);
   font-size: 28px;
   font-weight: 400;
   line-height: 1.5em
}
.products-images{
    margin-top: 33px;
    margin-bottom: 16px;
}
.product-description{
    color: var(--primary-color);
    font-size:  16px;
    font-weight: 400;
    line-height: 1.5em
}


.not-mob-img{
    display: flex;
    display: none;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 736px;
    }
    .product-list{
        display: flex;
        gap: 16px;
    }
    .not-mob-img{
        display: block;
    }
}
