.container {
    padding: 0 16px;
    
}
.subscribe-container{
    max-width: 375px;
    margin: 0 auto;
}

.subcribe-tittle {
    color: var(--primary-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 20px;
}

.subscribe-text {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}


.input-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.input-element {
    position: relative;
    width: 100%;
}

.input-label{
    display: none;
}

.input-area{
    width: 100%;
    height: 50px;
    padding: 11px 20px;
    border: 1px solid var(--light-gray);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.input-area:valid:not(:placeholder-shown){
    border: 1px solid var(--light-gray);
    outline: transparent;
    
}

.input-area:invalid:not(:placeholder-shown) {
    border: 1px solid #E74A3B;
    outline: transparent;
}

.input-area:hover{
    border-color: var(--primary-color);

}

.input-area:invalid:not(:placeholder-shown) + .error-icon{
    fill: #E74A3B;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error-icon:not(:placeholder-shown)  {
    position: absolute;
    right: 20px;
    top: 13px;
    border: none;
    fill: transparent;
}

.check-label{
    color: var(--gray);
    display: flex;
    align-items: center;
}

.check-span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text-wrap{
    display: flex;
    align-items: center;

}

.subscribe-button {
    color: var(--white);
    background-color: var(--primary-color);
    display: flex;
    width: 224px;
    height: 50px;
    padding: 17px 65px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, 
.subscribe-button:focus{
    background: #061835;
    
}

.subscribe-img{
    display: block;
    width: 100%;
}

.check-span{
    width: 25px;
    height: 25px;
    border: 1px solid var(--light-gray);
    display: inline-flex;
    margin-right: 8px;
    fill: transparent;
}

.check-input:checked + .check-label span {
    background-color: var(--primary-color);
    fill: var(--white);
}

.subscribe-img{
    display: block;
    min-width: 100%;
}

@media  screen and (min-width: 768px) {
    .subscribe-container{
        max-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }

        .subscribe-area {
            padding: 100px 0;
            
            
        }

        .subscribe-wrap{
            max-width: 536px;
            display: block;
        }

        .subcribe-tittle{
            font-size: 32px;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
        }

        .subscribe-text{
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
        }
}
@media screen and (min-width: 1440px) {
    .subscribe-container {
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;
    }
      .subscribe-area {
        max-width: 1156px;
        display: flex;
        justify-content: center;
        gap: 100px;
      }

     .subscribe-wrap{
            max-width: 536px;
            display: block;
        }

    .subcribe-tittle{
        text-align: start;
        margin-bottom: 31px;
    }

    .subscribe-img{
        display: block;
        width: 460px;
}
}